<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
  </head>
  <body>
    HI I'm the base template?
    <h1>{{ title }}</h1>
    <b>{{ test }}</b>
  {% comment %} {{ content | safe }} {% endcomment %}
  </body>
</html>